{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="chat-container">

        <div class="chat-box" id="chat-box">
            {% for chat in chat_history %}
                <div class="message user-message">{{ chat.user_input }}</div>
                <div class="message bot-message">{{ chat.output }}</div>
            {% endfor %}
        </div>

        <div class="chat-input">
            <form method="post" action="chat" style="display: flex; width: 100%;">
                <input id="user_input" name="user_input" placeholder="Type a message..." required>
                <button type="submit" id="send-btn"><i class="fa fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</div>

<script>
    const btn =document.querySelector('.btn')
    document.body.addEventListener('reload',(e)=>{
        e.preventDefault()
    })

    window.onload = function() {
            var chatBox = document.getElementById("chat-box");
            chatBox.scrollTop = chatBox.scrollHeight;
    };
</script>

{% endblock %}