{% extends "base.html" %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="dash-head">
                <div style="display: flex; flex-direction: column;">
                    <h1 style="font-size: 25px; font-weight: 700;">Hello, {{ username }}</h1>
                    <span style="font-size: 13px; color: rgb(163, 164, 165); font-weight: 400;">You're doing great! Keep up the good work</span>
                </div>
                <div style="display: flex; flex-direction: row; gap: 25px; align-items: center;">
                    <div class="search-bar" style="display: flex;align-items: center;padding: 0px 20px; border-width: 1px; border-radius: 30px; border-color: rgb(182, 182, 182); border-style: solid;">
                        <i class="bx bx-search"></i>
                        <input style="outline: none; border: none; background-color: #e4e9f7; padding: 10px 15px; font-size: 15px; width: 250px;" type="text" placeholder="Search...">
                    </div>
                    <div style="border-width: 1px; border-style: solid; border-color: rgb(182, 182, 182); border-radius: 50%;display: flex; justify-content: center; align-items: center;">
                        <a href="/chat"><i style="font-size: 20px; padding: 10px;" class='bx bx-chat icon'></i></a>
                    </div>
                </div>
            </div>

            <div class="dash-content">



                <div class="section-1 acts" id="bodyStats">
                    <div class="stats">
                        <div class="stats-card">
                            <div class="details">
                                <img src="../staticFolder/images__1_-removebg-preview.png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Temperature</h1>
                                    <span>102/60</span>
                                </div>
                            </div>
                            <img style="margin-top: -45px;" src="../staticFolder/png-transparent-line-chart-multicolored-miscellaneous-infographic-angle-thumbnail-removebg-preview.png" alt="">
                        </div>
                        <div class="stats-card" id="heart-trigger">
                            <div class="details">
                                <img src="../staticFolder/human-being-heart-Premium-vector-PNG-removebg-preview.png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Heart Rate</h1>
                                    <span>124 bpm</span>
                                </div>
                            </div>
                            <img src="../staticFolder/heart-beat-ecg.png" alt="">
                        </div>
                        <div class="stats-card">
                            <div class="details">
                                <img src="../staticFolder/images__2_-removebg-preview.png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Glucose</h1>
                                    <span>102/60</span>
                                </div>
                            </div>
                            <img src="../staticFolder/images-removebg-preview.png" alt="">
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; width: 700px; flex-wrap: wrap;gap: 15px; padding: 20px; border-width: 1px; border-style: solid; border-color: rgb(205, 205, 205); border-radius: 20px;">
                        <div style="display: flex; flex-direction: column;">
                            <h1 style="font-size: 20px; font-weight: 600;">Body Conditions</h1>
                            <span style="font-size: 17px; color: rgb(163, 164, 165); font-weight: 400;">124</span>
                        </div>
                        <div class="stats">
                            <div style="width: 320px; height: 250px;" class="stats-card">
                                <div class="details">
                                    <div class="readings">
                                        <h1>Weight</h1>
                                        <span>in KiloGrams</span>
                                    </div>
                                </div>
                                <div style="width: 300px;">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                            <div style="width: 310px; height: 250px;" class="stats-card">
                                    <div class="details">
                                        <div class="readings">
                                            <h1>Calories Intake</h1>
                                            <span>Values in Calories</span>
                                        </div>
                                    </div>
                                    <div style="width: 270px;">
                                        <canvas id="barChart"></canvas>
                                    </div>
                            </div>
                            <div class="activity-card">
                                <h3>Activity</h3>
                                <p class="steps-left">654 Steps left</p>
                                <div class="progress-container">
                                    <svg class="progress-ring" width="120" height="120">
                                        <circle class="progress-ring__background" cx="60" cy="60" r="54" />
                                        <circle id="ring_1" class="progress-ring__circle" cx="60" cy="60" r="54" />
                                    </svg>
                                    <div class="step-count">
                                        <span id="step-count">7324</span>
                                        <p>Steps</p>
                                    </div>
                                </div>
                                <p class="goal">10,000 Steps</p>
                            </div> 
                            <div style="width: 410px; height: 250px;" class="stats-card">
                                <div class="details">
                                    <div class="readings">
                                        <h1>Sleep Time</h1>
                                        <span>Values in Hours</span>
                                    </div>
                                </div>
                                <div style="width: 350px; margin-top: -20px;">
                                    <canvas id="lineChart2"></canvas>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>


                <div class="section-1" id="heartStats">
                    <div style="font-size: 60px; margin-top: -15px;">
                        <p style="font-weight: 550;">Heart</p>
                        <p style="font-weight: 400; margin-top: -20px;">Conditions</p>
                    </div>
                    <div class="stats">
                        <div class="stats-card">
                            <div class="details">
                                <img src="../staticFolder/blood_cell-removebg-preview.png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Heart Beat</h1>
                                    <span>120/80</span>
                                </div>
                            </div>
                            <img style="margin-top: -50px;" src="../staticFolder/png-transparent-line-chart-multicolored-miscellaneous-infographic-angle-thumbnail-removebg-preview.png" alt="">
                        </div>
                        <div class="stats-card">
                            <div class="details">
                                <img src="../staticFolder/ecg-heart-rate-f0t-removebg-preview (1).png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Heart ECG</h1>
                                    <span>64/80</span>
                                </div>
                            </div>
                            <img style="margin-top: 5px;" src="../staticFolder/heart-beat-ecg.png" alt="">
                        </div>
                        <div class="stats-card">
                            <div class="details">
                                <img src="../staticFolder/images__2_-removebg-preview (1).png" alt="heart-icon">
                                <div class="readings">
                                    <h1>Heart MRI</h1>
                                    <span>Report</span>
                                </div>
                            </div>
                            <img style="border-radius: 10px;" src="../staticFolder/heart-CT-scans-1296x728-header-1024x575.webp" alt="">
                        </div>
                    </div>

                    <div style="display: flex; width: 700px; flex-direction: column; flex-wrap: wrap;gap: 15px; padding: 20px; border-width: 1px; border-style: solid; border-color: rgb(205, 205, 205); border-radius: 20px;">
                        <div style="display: flex; flex-direction: column;">
                            <h1 style="font-size: 20px; font-weight: 600;">Heart Statistics</h1>
                            <span style="font-size: 17px; color: rgb(163, 164, 165); font-weight: 400;">124</span>
                        </div>
                        <div class="stats">
                            <div style="width: 220px; height: 270px;" class="stats-card">
                                <div class="details">
                                    <div class="readings">
                                        <h1>Stroke Volume</h1>
                                        <span>60/80 mL per Beat</span>
                                    </div>
                                </div>
                                <div style="width: 180px; margin-top: -15px;">
                                    <canvas id="pieChart"></canvas>
                                </div>
                            </div>
                            <div style="width: 400px; height: 270px;" class="stats-card">
                                <div class="details">
                                    <div class="readings">
                                        <h1>Stroke Volume</h1>
                                        <span>60/80 mL per Beat</span>
                                    </div>
                                </div>
                                <div style="width: 360px; margin-top: -20px;">
                                    <canvas id="lineChart3"></canvas>
                                </div>
                            </div>
                            <div class="activity-card">
                                <h3>RCB Count</h3>
                                <div class="progress-container">
                                    <svg class="progress-ring" width="120" height="120">
                                        <circle class="progress-ring__background" cx="60" cy="60" r="54" />
                                        <circle id="ring_3" class="progress-ring__circle" cx="60" cy="60" r="54" />
                                    </svg>
                                    <div class="step-count">
                                        <span id="step-count">102/70</span>
                                        <p>mmHg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-card">
                                <h3>Blood Pressure</h3>
                                <div class="progress-container">
                                    <svg class="progress-ring" width="120" height="120">
                                        <circle class="progress-ring__background" cx="60" cy="60" r="54" />
                                        <circle id="ring_4" class="progress-ring__circle" cx="60" cy="60" r="54" />
                                    </svg>
                                    <div class="step-count">
                                        <span id="step-count">100/67</span>
                                        <p>mmHg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-card">
                                <h3>PAP Value</h3>
                                <div class="progress-container">
                                    <svg class="progress-ring" width="120" height="120">
                                        <circle class="progress-ring__background" cx="60" cy="60" r="54" />
                                        <circle id="ring_5" class="progress-ring__circle" cx="60" cy="60" r="54" />
                                    </svg>
                                    <div class="step-count">
                                        <span id="step-count">100/67</span>
                                        <p>mmHg</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div style="width: 500px;">
                    <div class="model">

                        <spline-viewer url="https://prod.spline.design/97qRjzGnXUYth-w5/scene.splinecode"></spline-viewer>

                </div>
            </div>
            
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>
<script>

    const splineViewer = document.querySelector('spline-viewer');
    const statsBody = document.getElementById("bodyStats");
    const statsPopup = document.getElementById("heartStats");

    statsPopup.style.display = "none";

    // Define body part information based on object IDs in the Spline model
    const icons = [
    {
            name: "headIcon",
            centerX: 1194, // X-coordinate for the center of the head icon
            centerY: 143, // Y-coordinate for the center of the head icon
            radius: 20,   // Radius of the head icon
            content: "This is the head. It contains the brain, eyes, and ears."
        },
        {
            name: "heartIcon",
            centerX: 1268, // X-coordinate for the center of the heart icon
            centerY: 255, // Y-coordinate for the center of the heart icon
            radius: 20,   // Radius of the heart icon
            content: "This is the heart. It pumps blood throughout the body."
        },
        {
            name: "kidney",
            centerX: 1212, // X-coordinate for the center of the arm icon
            centerY: 327, // Y-coordinate for the center of the arm icon
            radius: 20,   // Radius of the arm icon
            content: "This is the kidney. It includes muscles and its responsible for filtering"
        }
        // Add more icons/regions here as needed
    ];

    // Handle Spline raycast events to detect clicked objects
    splineViewer.addEventListener('click', (event) => {
        console.log(event);
        const clickX = event.clientX;
        const clickY = event.clientY;

        console.log("client x:", clickX);
        console.log("client y:", clickY);
        let clickedIcon = null;

        for (let icon of icons) {// Calculate the distance between the clicked point and the icon's center
            const distance = Math.sqrt(Math.pow(clickX - icon.centerX, 2) + Math.pow(clickY - icon.centerY, 2));

            
            if (distance <= icon.radius) {
                clickedIcon = icon;
                break;
            }
        }

        
        if (clickedIcon) {
            statsBody.style.display = "none";
            statsPopup.style.display = "flex";
        } else {
            statsBody.style.display = "flex";
            statsPopup.style.display = "none";
        }
    });

    function updateProgressCircle(circleId, currentValue, totalValue) {
        const progressCircle = document.querySelector(`#${circleId}`);
        const radius = progressCircle.r.baseVal.value;
        const circumference = 2 * Math.PI * radius;

        progressCircle.style.strokeDasharray = `${circumference} ${circumference}`;
        progressCircle.style.strokeDashoffset = circumference;

        const percentage = (currentValue / totalValue) * 100;
        const offset = circumference - (percentage / 100) * circumference;
        progressCircle.style.strokeDashoffset = offset;
    }

    updateProgressCircle("ring_1", 7324, 10000); 
    // updateProgressCircle("ring_2", 67, 100);
    // updateProgressCircle("ring_3", 67, 100);
    // updateProgressCircle("ring_4", 75, 100);
    // updateProgressCircle("ring_5", 60, 100);

    function createChart(chartElementId, chartType, chartData, chartOptions = {}) {
        const ctx = document.getElementById(chartElementId);
        if (ctx) {
            new Chart(ctx, {
                type: chartType,
                data: chartData,
                options: chartOptions
            });
        } else {
            console.warn(`Chart element with ID "${chartElementId}" not found.`);
        }
    }

    const barData = {
    labels: ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'],
    datasets: [{
        label: 'Daily Calories Count',
        data: [2000, 2100, 2050, 2101, 1990, 2500, 1945],
        backgroundColor: [
        'rgba(255, 99, 132)',
        'rgba(255, 159, 64)',
        'rgba(255, 205, 86)',
        'rgba(75, 192, 192)',
        'rgba(54, 162, 235)',
        'rgba(153, 102, 255)',
        'rgba(201, 203, 207)'
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
        ],
        borderWidth: 1,
    }]
    };

    createChart('barChart', 'bar', barData, {
        scales: {
            y: { beginAtZero: true }
        }
    });

    const lineData = {
    labels: ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7'],
    datasets: [{
        label: 'This Week',
        data: [88, 87, 89, 90, 88, 89, 87],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
    }]
    };

    const lineData2 = {
    labels: ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7'],
    datasets: [{
        label: 'This Week',
        data: [8.5, 7, 7.5, 6, 8, 7.5, 9],
        fill: false,
        borderColor: '#695cfe',
        tension: 0.1
    }]
    };

    const lineData3 = {
        labels: ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7'],
        datasets: [{
            label: 'This Week',
            data: [78, 76, 81, 71, 69, 75, 79],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };

    createChart('lineChart', 'line', lineData);
    createChart('lineChart2', 'line', lineData2);
    createChart('lineChart3', 'line', lineData3);

    const pieData = {
    datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
        ],
        hoverOffset: 10
    }]
    };

    createChart('pieChart', 'doughnut', pieData);

</script>

{% endblock %}