<!--DOCTYPE html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--==title========================-->
    <title>Medical Website HTML</title>
    <!--==Fav-icon=====================-->
    <link rel="shortcut icon" href="images/fav-icon.png">
    <!--==CSS==========================-->
    <link rel="stylesheet" href="../staticFolder/homestyle.css">
  
  
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--==Font-Awesome-for-icons=====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

</head>
<body>
    
    <!--==Hero-Section========================-->
    <section id="hero">

        <!--==navigation====================-->
        <nav class="navigation">
            <!--**menu-btn*****-->
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
            <!--**logo*********-->
            <a href="index.html" class="logo"><span>Aarogya</span>Track</a>
            <!--**menu*********-->
            <ul class="menu">
                <li><a href="#our-team">Find A Doctor</a></li>
                <li><a href="#our-services">Our Services</a></li>
                <li><a href="#testimonials">Testimonial's</a></li>
            </ul>
            <!--**contact*******-->
            <a href="/login" class="nav-appointment-btn">Login/Sign-up</a>
        </nav><!--nav-end-->


        <!--==Content============================-->
        <div class="hero-content">
            <!--**text****************-->
            <div class="hero-text">
                <h1>Feel Better About Finding HealthCare</h1>
                <p>Empowering personalized health management with expert care at your fingertips.</p>
                <!--btns-->
                <div class="hero-text-btns">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i> Find Doctor's</a>
                    <a href="#"><i class="fa-solid fa-check"></i> Book Appointment</a>
                </div>
            </div>
            <!--**img*****************-->
            <div class="hero-img">
                <img src="https://cdn.prod.website-files.com/611ed5a217b32b056e5477ec/644988ded773ee3739f6691a_Online%20Medical%20Checkup%20(1).gif" alt="">
            </div>
        </div>

        
    </section><!--hero-end-->


    <!--==appointment-search===============================-->
    <div class="appointment-search-container">
        <h3>Find Personalized Healthcare Solutions</h3>
        <form class="appointment-search">
        <!--**doctor-search-box*******-->
        <div class="appo-search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search Doctor Here or For Advice">
        </div>
        <!--**set-your-location*******-->
        <div class="appo-search-box">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Set Your Location">
        </div>
        <!--**btn*********************-->
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        </form>
    </div>


    <!--==service-info===========================-->
    <section class="what-we-provide">

        <!--**box1***********-->
        <div class="w-info-box w-i-box1">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-solid fa-capsules"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>Specialised Service</strong>
                <p>Almost every specialisation  doctors in vicinity at your service.</p>
            </div>
        </div>
        <!--**box2***********-->
        <div class="w-info-box w-i-box2">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-regular fa-comments"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>24/7 Advanced Care</strong>
                <p>Chatbot support for personalisation anytime.</p>
            </div>
        </div>
        <!--**box3***********-->
        <div class="w-info-box w-i-box3">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-solid fa-square-poll-horizontal"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>Get Result Online</strong>
                <p>Get the best visualised analysis through dashboard.</p>
            </div>
        </div>
    
    </section><!--end-->



    <!--==Story=============================-->
    <section id="our_story">

        <!--**img**-->
        <div class="our-story-img">
            <img src="https://rosiephillpot.com/wp-content/uploads/2019/12/Exercise_800x600.gif" />
            <a href="#" class="story-play-btn">
                <i class="fa-solid fa-play"></i>
                <!-- Play Video -->
            </a>
        </div>
        <!--**text**-->
        <div class="our-stroy-text">
            <h2>Best Product to Personalise your health related concerns</h2>
            <p>We have dashboards, Medical Report analyzers, Medicine suggestion systems, Doctor Appointment calendar, your personal health portfolio and blogging community support with ability to communicate with patients around.
            <a>Read More</a></p>
            <!--numbers-of-happy-patients-->
            <div class="story-numbers-container">
                <!--box-->
                <div class="story-numbers-box s-n-box1">
                    <strong>1000+</strong>
                    <span>Happy Patients</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box2">
                    <strong>215+</strong>
                    <span>Expert Doctor</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box3">
                    <strong>315+</strong>
                    <span>Hospital Room's</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box4">
                    <strong>106+</strong>
                    <span>Award Wining</span>
                </div>
            </div>
        </div>
        
    </section><!--story-end-->

    

    <!--==Our-Services======================-->
    <section id="our-services">

        <!--**heading********************-->
        <div class="services-heading">
            <!--text-->
            <div class="services-heading-text">
                <strong>Doctors Specialised in....</strong>
                <h2>Premium Wellness Services for Personalized Health</h2>
            </div>
            <!--btns-->
            <div class="service-slide-btns">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <!--**container*******************-->
        <div class="services-box-container">

             <!-- Swiper -->
            <div class="swiper mySwiperservices">
                <div class="swiper-wrapper">
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box1">
                        <!--icon-->
                        <i class="fa-solid fa-tooth"></i>
                        <!--title-->
                        <strong>Dental Care</strong>
                        <!--details-->
                      <p>Compare and set up personal appointment with your preferred dentist.</p>
                        <!--read more-->
                        <a href="#">Read More</a>
                    </div>
                    </div><!--slide-end-->
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box2">
                        <!--icon-->
                        <i class="fa-solid fa-eye"></i>
                        <!--title-->
                        <strong>Eye Care</strong>
                        <!--details-->
                        <p>Chioces can be bias here, chose your favorite eye specialist.</p>
                        <!--read more-->
                        <a href="#">Read More</a>
                    </div>
                    </div><!--slide-end-->
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box3">
                        <!--icon-->
                        <i class="fa-solid fa-face-smile"></i>
                        <!--title-->
                        <strong>Skin Care</strong>
                        <!--details-->
                        <p>Realiable and experienced dermatologists available at fingertips.</p>
                        <!--read more-->
                        <a href="#">Read More</a>
                    </div>
                    </div><!--slide-end-->
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box4">
                        <!--icon-->
                        <i class="fa-solid fa-user-doctor"></i>
                        <!--title-->
                        <strong>Surgical</strong>
                        <!--details-->
                        <p>We dont want you to but let's resolve your issues if urgent with most experienced doctors around.</p>
                        <!--read more-->
                        <a href="#">Read More</a>
                    </div>
                    </div><!--slide-end-->
                </div><!--wrapper-end-->
            </div><!--swiper-end-->

        </div>

        <!--btn-->
        <span class="service-btn">Contact Us For Need Any Help And Services <a href="#">Let's get Started</a></span>
    
    </section><!--services-end-->


    <!--==Why-choose-us=======================-->
    <section id="why-choose-us">

        <!--**left*****************-->
        <div class="why-choose-us-left">
            <h3>Why Choose Us?</h3>
            <!--==container====-->
            <div class="why-choose-box-container">
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Advance Care</strong>
                        <p>You in care of our trusted doctors in your vicinity at fingertips.</p>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Security and Reliability </strong>
                        <p>Secure sub-domain with support 24/7 throught chatbot for anytime home relief. </p>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Appointments and schduled calendar</strong>
                        <p>You fix appointment6 and relax while we keep you informed</p>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Personalised results Chatbot</strong>
                        <p>The chatbot has all the answers you need for the disease you go through</p>
                    </div>
                </div>
            </div>
            <!--==btn========-->
            <a href="#" class="why-choose-us-btn">Make Appointment</a>
        </div><!--left-end-->

        <!--**right*******************-->
        <div class="why-choose-us-right">
            <h3>Emergency?<br/>
                Contact Us
            </h3>
            <p>All the atmost care for those who need at urgency!</p>
            <!--==container====-->
            <div class="w-right-contact-container">
                <!--**box**-->
                <div class="w-right-contact-box">
                    <i class="fa-solid fa-phone"></i>
                    <!--text-->
                    <div class="w-right-contact-box-text">
                        <span>Call Us Now</span>
                        <strong>+91 4567 89234</strong>
                    </div>
                </div>
                <!--**box**-->
                <div class="w-right-contact-box">
                    <i class="fa-solid fa-envelope"></i>
                    <!--text-->
                    <div class="w-right-contact-box-text">
                        <span>Mail Us</span>
                        <strong>info@example.com</strong>
                    </div>
                </div>
            </div>
        </div><!--right-end-->

    </section><!--end-->


    <!--==Team===========================-->
    <section id="our-team">

        <!--**heading*****************-->
        <div class="our-team-heading">
            <h3>Meet Our Specialist</h3>
            <p> The best in class and most experienced doctors in their fields according to your preferred location.</p>
        </div>

        <!--**team-container***********-->
        <div class="team-box-container">
            <!-- Swiper -->
            <div class="swiper mySwiperteam">
            <div class="swiper-wrapper">
                <!--**1***-->
                <div class="swiper-slide">
                    <!--**box**-->
                    <div class="team-box">
                        <!--img-->
                        <div class="team-img">
                            <img alt="" src="https://images.unsplash.com/photo-1663182107973-abb58c2c13e7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0ODk4NDB8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="team-text">
                            <strong>Dr.Shrikant</strong>
                            <span>Skin Specialist</span>
                        </div>
                    </div>
                </div><!--end-slide-->
                <!--**1***-->
                <div class="swiper-slide">
                    <!--**box**-->
                    <div class="team-box">
                        <!--img-->
                        <div class="team-img">
                            <img alt="" src="https://images.unsplash.com/photo-1662837775283-16e2f4bdff85?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTAwNjF8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="team-text">
                            <strong>Dr. Sanvi Gupta</strong>
                            <span>Dentist</span>
                        </div>
                    </div>
                </div><!--end-slide-->
                <!--**1***-->
                <div class="swiper-slide">
                    <!--**box**-->
                    <div class="team-box">
                        <!--img-->
                        <div class="team-img">
                            <img alt="" src="https://images.unsplash.com/photo-1622902046580-2b47f47f5471?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0ODk5NDB8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="team-text">
                            <strong>Dr. Ramkrishna Rao</strong>
                            <span>Orthologist</span>
                        </div>
                    </div>
                </div><!--end-slide-->
                <!--**1***-->
                <div class="swiper-slide">
                    <!--**box**-->
                    <div class="team-box">
                        <!--img-->
                        <div class="team-img">
                            <img alt="" src="https://images.unsplash.com/photo-1620928269189-dc4ee9d981c0?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0ODk5Nzh8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="team-text">
                            <strong>Dr. Stephen Christ</strong>
                            <span>Physicist</span>
                        </div>
                    </div>
                </div><!--end-slide-->
                <!--**1***-->
                <div class="swiper-slide">
                    <!--**box**-->
                    <div class="team-box">
                        <!--img-->
                        <div class="team-img">
                            <img alt="" src="https://images.unsplash.com/photo-1651008376811-b90baee60c1f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTAwMTh8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="team-text">
                            <strong>Dr. Maheshwari Rajashri</strong>
                            <span>Ayurvedic Expert</span>
                        </div>
                    </div>
                </div><!--end-slide-->
            </div><!--wrapper-end-->
            <div class="swiper-pagination"></div>
            </div><!--swiper-end-->

            
        
        </div>

    </section><!--team-end-->



    <!--==Testimonials============================-->
    <section id="testimonials">

        <!--**heading****************-->
        <div class="testimonials-heading">
            <h3>Our Patients FeedBack About Us</h3>
            <p>The Chatbot felt like I was having chat with the Doctor itself. </p>
        </div>


        <!--**testimonials-Content****-->
        <div class="testimonials-content">

            <!--**img************-->
            <div class="testimonials-img">
                <img alt="" src="https://images.unsplash.com/photo-1666214280499-05433a66fb9a?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTAyNTN8&ixlib=rb-4.0.3&q=85">
            </div>

            <!--**box-container**-->
            <div class="testimonials-box-container">

            <!-- Swiper -->
            <div class="swiper mySwipertesti">
            <div class="swiper-wrapper">
                <!--**1***********-->
                <div class="swiper-slide">
                <!--**box**-->
                <div class="testimonials-box">
                    <!--profile-->
                    <div class="t-profile">
                        <!--img-->
                        <div class="t-profile-img">
                            <img alt="" src="https://images.unsplash.com/photo-1578635073855-a89b3dd5cc18?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTAxNTJ8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="t-profile-text">
                            <strong>Ramesh Kumar</strong>
                            <span>From Malad</span>
                            <div class="t-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            
                            </div>
                        </div>
                    </div>
                    <!--feedback-->
                    <p>Doctors who have clinics to doctors having best class equipments are all  supporting</p>
                </div><!--box-end-->
            </div><!--slide-end-->

            <!--**2***********-->
            <div class="swiper-slide">
                <!--**box**-->
                <div class="testimonials-box">
                    <!--profile-->
                    <div class="t-profile">
                        <!--img-->
                        <div class="t-profile-img">
                            <img alt="" src="https://images.unsplash.com/photo-1575468332949-4bd46064dd66?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTAzMzZ8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="t-profile-text">
                            <strong>Mrs Ragini </strong>
                            <span>From Kandivali</span>
                            <div class="t-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <!--feedback-->
                    <p>THe best doctors around are accessible throough one platform</p>
                </div><!--box-end-->
            </div><!--slide-end-->

            <!--**3***********-->
            <div class="swiper-slide">
                <!--**box**-->
                <div class="testimonials-box">
                    <!--profile-->
                    <div class="t-profile">
                        <!--img-->
                        <div class="t-profile-img">
                            <img alt="" src="https://images.unsplash.com/photo-1576765974102-b756026ecee3?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc0OTA0MjN8&ixlib=rb-4.0.3&q=85">
                        </div>
                        <!--text-->
                        <div class="t-profile-text">
                            <strong>Mrs Sayali</strong>
                            <span>From Borivali</span>
                            <div class="t-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                               
                            </div>
                        </div>
                    </div>
                    <!--feedback-->
                    <p>The Chatbot felt like I was having chat with the Doctor itself. </p>
                </div><!--box-end-->
            </div><!--slide-end-->
            
            </div><!--wrapper-end-->
            <div class="swiper-pagination"></div>
            </div><!--swiper-end-->

            </div><!--container-end-->
        
        </div><!--content-end-->

    </section><!--testimonials-end-->



    <!--==Subscribe===========================-->
    <section id="subscribe">
        <h3>Subscribe For New Updates From WeCare</h3>
        <!--subcribe-box-->
        <form class="subscribe-box">
            <input type="email" placeholder="Example@gmail.com">
            <button>Subscribe</button>
        </form>
    </section><!--end-->


    <footer>
        <div class="footer-container">
            <!--**comoany-box**-->
            <div class="footer-company-box">
                <!--logo-->
                <a href="#" class="logo"><span>Aarogya</span>Track</a>
                <!--details-->
                <p>Reach out to us and ask whatever you want to </p>
                <!--social-box-->
                <div class="footer-social">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <!--**link-box***-->
            <div class="footer-link-box">
                <strong>Main Link's</strong>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    
                </ul>
            </div>
            <!--**link-box***-->
<!--             <div class="footer-link-box">
                <strong>External Link's</strong>
                <ul>
                    <li><a href="#">Our Product's</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Term's and Condition's</a></li>
                </ul>
            </div> -->
            <!--**link-box***-->
            <div class="footer-link-box">
                <strong>External Link's</strong>
                <ul>
                    <li><a href="#">Our Product's</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Term's and Condition's</a></li>
                </ul>
            </div>
            
   
        </div>

        <!--**bottom**********************-->
        <div class="footer-bottom">
            <span class="footer-owner"></span>
            <span class="copyright">&#169; Copyright 2024 -  AarogyaTrack</span>
        </div>
    </footer>



    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    /*-services--*/
    var swiper = new Swiper(".mySwiperservices", {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          700: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        },
      });
    /*--team--*/
    var swiper = new Swiper(".mySwiperteam", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          560: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          950: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1250: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
        },
      });
    /*--testimonials--*/
      var swiper = new Swiper(".mySwipertesti", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>

</body>
</html>