{% extends "base.html" %}
{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="profile-info">
                <div class="profile-text">
                    <span class="hello">Hello,</span>
                    <span class="name">{{ username }}</span>

                </div>
    
                <div class="profile-img">
                    <img src="" alt="profile-img">
                </div>
            </div>
            
            {% if medical_data %}
            <div class="user-info">
                <div class="info-params">
                    {% for ud in medical_data %}
                    <span class="value">{{ ud['height'] }}</span>
                    <span class="param">Height</span>
                </div>
                {% endfor %}
                <div class="info-params">
                    {% for ud in medical_data %}
                    <span class="value">{{ ud['weight'] }}</span>
                    <span class="param">Weight</span>
                </div>
                {% endfor %}
                <div class="info-params">
                    {% for ud in medical_data %}
                    <span class="value">{{ ud['age'] }}</span>
                    <span class="param">Age</span>
                </div>
                {% endfor %}

                <div class="info-params">
                    {% for ud in medical_data %}
                    <span class="value">{{ ud['gender'] }}</span>
                    <span class="param">Gender</span>
                </div>
                {% endfor %}
            </div>
    
            <div class="health-details">
                <div class="card">
                    {% for ud in medical_data %}
                    <span class="measure">Heart Rate</span>
                    <span class="measure-value">{{ud['heart_rate']}}</span>
                    {% endfor %}
                </div>
                <div class="card">
                    <span class="measure">Calories</span>
                    <span class="measure-value">36.6</span>
                </div>
                <div class="card">
                    <span class="measure">Steps</span>
                    <span class="measure-value">36.6</span>
                </div>
                <div class="card">
                    <span class="measure">BMI</span>
                    <span class="measure-value"></span>
                </div>
            </div>
            {% endif %}
            {{ medical_data }}
        </div>

        <div class="model">
                
                
            <spline-viewer url="https://prod.spline.design/InciWTmX49Eq1Pgx/scene.splinecode"></spline-viewer>
        </div>

        <!-- <div id="model-section">
            <span>Human based model</span>
            <input type="range" id="rotation-slider" min="0" max="360" value="180">
        </div> -->
    </div>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.28/build/spline-viewer.js"></script>

{% endblock %}