{% extends "base.html" %}
{% block content %}

<div class="main-container">
  <!-- <div class="container">
    <div class="file-section">
      <form action="/profile" method="POST">
        <div class="space-y-12">

          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="first_name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                <div class="mt-2">
                  <input type="text" name="first_name" id="first_name" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                <div class="mt-2">
                  <input type="text" name="last_name" id="last_name" autocomplete="family-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="age" class="block text-sm font-medium leading-6 text-gray-900">Age</label>
                <div class="mt-2">
                  <input type="number" name="age" id="age" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="profession" class="block text-sm font-medium leading-6 text-gray-900">Profession</label>
                <div class="mt-2">
                  <input type="text" name="profession" id="profession"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="working_hours" class="block text-sm font-medium leading-6 text-gray-900">Working hours(per
                  day)</label>
                <div class="mt-2">
                  <input type="text" name="working_hours" id="working_hours"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="gender" class="block text-sm font-medium leading-6 text-gray-900">Gender</label>
                <div class="mt-2">
                  <select id="gender" name="gender" autocomplete="gender"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option>select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="height" class="block text-sm font-medium leading-6 text-gray-900">Height(cm)</label>
                <div class="mt-2">
                  <input type="number" name="height" id="height"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="weigth" class="block text-sm font-medium leading-6 text-gray-900">Weigth(kg)</label>
                <div class="mt-2">
                  <input type="text" name="weigth" id="weigth"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

            </div>
          </div>

          <div class="border-b surgery-form border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Past surgical/medical history</h2>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="previous_surgery_name" class="block text-sm font-medium leading-6 text-gray-900">Pervious
                  Surgery name</label>
                <div class="mt-2">
                  <input type="text" name="previous_surgery_name" id="previous_surgery_name" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="previous_surgery_date" class="block text-sm font-medium leading-6 text-gray-900">Pervious
                  Surgery Date</label>
                <div class="mt-2">
                  <input type="date" name="previous_surgery_date" id="previous_surgery_date" autocomplete="family-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="complications_during_surgery"
                  class="block text-sm font-medium leading-6 text-gray-900">Complications During Surgery (if
                  any)</label>
                <div class="mt-2">
                  <input type="text" name="complications_during_surgery" id="complications_during_surgery"
                    autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

              </div>

              <div class="sm:col-span-4">
                <label for="anestesia_history" class="block text-sm font-medium leading-6 text-gray-900">Anesthesia
                  History:</label>
                <div class="mt-2">
                  <select id="anestesia_history" name="anestesia_history" autocomplete="anestesia_history"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="none">None</option>
                    <option value="had_before_no_complications">Had anesthesia before (no complications)</option>
                    <option value="had_before_complications">Had anesthesia before (with complications)</option>
                  </select>
                </div>
              </div>
            </div>

          </div>

          <div class="border-b medical-history-form border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">General Medical History</h2>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="chronic_conditions" class="block text-sm font-medium leading-6 text-gray-900">Chronic
                  Conditions:</label>
                <div class="mt-2">
                  <select id="chronic_conditions" name="chronic_conditions" autocomplete="chronic_conditions"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option value="diabetes">Diabetes</option>
                    <option value="hypertension">Hypertension</option>
                    <option value="asthma">Asthma</option>
                    <option value="heart_disease">Heart Disease</option>
                    <option value="none">None</option>
                  </select>
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="current_medications" class="block text-sm font-medium leading-6 text-gray-900">Current
                  Medications:</label>
                <div class="mt-2">
                  <input type="text" name="current_medications" id="current_medications" autocomplete="family-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="known_allergies" class="block text-sm font-medium leading-6 text-gray-900">Known
                  Allergies:</label>
                <div class="mt-2">
                  <input type="text" name="known_allergies" id="known_allergies" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>


            </div>
          </div>

          <div class="border-b medication-form border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Current Medication</h2>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <div class="sm:col-span-3">
                <label for="disease" class="block text-sm font-medium leading-6 text-gray-900">Dieases:</label>
                <div class="mt-2">
                  <input type="text" name="disease" id="disease" autocomplete="family-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="drug_name" class="block text-sm font-medium leading-6 text-gray-900">Drug name:</label>
                <div class="mt-2">
                  <input type="text" name="drug_name" id="drug_name" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="medication_duration" class="block text-sm font-medium leading-6 text-gray-900">Duration(In
                  months):</label>
                <div class="mt-2">
                  <input type="number" name="medication_duration" id="medication_duration" autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
            </div>
          </div>

          <div class="border-b addication-form border-gray-900/10 pb-12">
            <div class="section-1">
              <h2 class="text-base font-semibold leading-7 text-gray-900">Addications</h2>
              <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                <div class="sm:col-span-3">
                  <label for="addication_name" class="block text-sm font-medium leading-6 text-gray-900">Name:</label>
                  <div class="mt-2">
                    <input type="text" name="addication_name" id="addication_name" autocomplete="family-name"
                      class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="sm:col-span-2">
                  <label for="addication_frequency"
                    class="block text-sm font-medium leading-6 text-gray-900">Frequency(In week):</label>
                  <div class="mt-2">
                    <input type="number" name="addication_frequency" id="addication_frequency" autocomplete="given-name"
                      class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>

                <div class="sm:col-span-2">
                  <label for="addication_duration" class="block text-sm font-medium leading-6 text-gray-900">Duration(In
                    months):</label>
                  <div class="mt-2">
                    <input type="number" name="addication_duration" id="addication_duration" autocomplete="given-name"
                      class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="sm:col-span-1 flex items-center justify-center"></div>
          <button id="addication-btn" class="btn rounded-full w-[50px] h-[50px] text-[20px]">+</button>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
      </form>
    </div>
  </div> -->

  <div class="container">

    <div class="wrapper">
      <div class="header">
        <ul>
          <li class="active form_1_progessbar">
            <div>
              <p>1</p>
            </div>
          </li>
          <li class="form_2_progessbar">
            <div>
              <p>2</p>
            </div>
          </li>
          <li class="form_3_progessbar">
            <div>
              <p>3</p>
            </div>
          </li>
          <li class="form_4_progessbar">
            <div>
              <p>4</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="form_wrap">
        <div class="form_1 data_info">
          <section class="profile-container">
            <header>Personal Information</header>
            <form action="/personalData" class="form" method="POST">
              <div class="column">
                <div class="input-box">
                  <label>First Name</label>
                  <input name="first_name" id="first_name" type="text" placeholder="Enter First Name" required />
                </div>
                <div class="input-box">
                  <label>Last Name</label>
                  <input name="last_name" id="last_name" type="text" placeholder="Enter Last Name" required />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Phone Number</label>
                  <input name="phone_no" id="phone_no" type="number" placeholder="Enter phone number" required />
                </div>
                <div class="input-box">
                  <label>Birth Date</label>
                  <input name="date_of_birth" id="date_of_birth" type="date" placeholder="Enter birth date" required />
                </div>
              </div>
              <div class="input-box">
                <label>Profession</label>
                <input name="profession" id="profession" type="text" placeholder="Enter Your Profession" required />
              </div>
              <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                  <select name="gender" id="gender">
                    <option value="">select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Working Hours(Per day)</label>
                  <input name="working_hours" id="working_hours" type="number" placeholder="Enter working hours" required />
                </div>
                <div class="input-box">
                  <label>Height(in cm)</label>
                  <input name="height" id="height" type="number" placeholder="Enter height" required />
                </div>
                <div class="input-box">
                  <label>Weigth(in kg)</label>
                  <input name="weigth" id="weigth" type="number" placeholder="Enter height" required />
                </div>
              </div>
              <div class="input-box address">
                <label>Address</label>
                <input name="address" id="address" type="text" placeholder="Enter street address" required />
                <input name="address_2" id="address_2" type="text" placeholder="Enter street address line 2" required />
                <div class="column">
                  <div class="select-box">
                    <select name="country" id="country">
                      <option hidden>Country</option>
                      <option>America</option>
                      <option>Japan</option>
                      <option>India</option>
                      <option>Nepal</option>
                    </select>
                  </div>
                  <input name="city" id="city" type="text" placeholder="Enter your city" required />
                </div>
                <div class="column">
                  <input name="region" id="region" type="text" placeholder="Enter your region" required />
                  <input name="postal_code" id="postal_code" type="number" placeholder="Enter postal code" required />
                </div>
              </div>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-md leading-6 text-gray-500">cancel</button>
                <button type="submit"
                  class="btn rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
              </div>
            </form>
          </section>
        </div>
        <div class="form_2 data_info" style="display: none;">
          <section class="profile-container">
            <header>Past surgical/medical history</header>
            <form action="/pastSurgicalData" class="form">
              <div class="input-box">
                <label>Previous Surgery Name</label>
                <input name="pervious_surgery_name" id="pervious_surgery_name" type="text" placeholder="Enter Previous Surgery Name" required />
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Previous surgery date</label>
                  <input name="pervious_surgery_date" id="pervious_surgery_date" type="date" placeholder="Enter Surgery Date" required />
                </div>
                <div class="input-box">
                  <label>Complications During Surgery(if any:)</label>
                  <input name="compliactions" id="compliactions" type="text" placeholder="Enter Complications During Surgery" required />
                </div>
              </div>
              <div class="input-box">
                <label>Anstesia History</label>
                <select name="anstesia_history" id="anstesia_history" autocomplete="anestesia_history"
                  class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option value="none">None</option>
                  <option value="had_before_no_complications">Had anesthesia before (no complications)</option>
                  <option value="had_before_complications">Had anesthesia before (with complications)</option>
                </select>
              </div>
              <div class="input-box">
                <button
                  class="btn rounded-full w-[50px] h-[50px] flex items-center justify-center text-[25px]">+</button>
              </div>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-md leading-6 text-gray-500">cancel</button>
                <button type="submit"
                  class="btn rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
              </div>
            </form>
          </section>
        </div>
        <div class="form_3 data_info" style="display: none;">
          <section class="profile-container">
            <header>Current Medication</header>
            <form action="/currentMedication" class="form" method="POST">
              <div class="input-box">
                <label>Disease Name:</label>
                <input name="disease_name" id="disease_name" type="text" placeholder="Enter Dieases Name" required />
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Current Medicines:</label>
                  <input name="current_medicines" id="current_medicines" type="text" placeholder="Enter Medicine Names" required />
                </div>
                <div class="input-box">
                  <label>Duration(in weeks):</label>
                  <input name="current_medication_duration" id="current_medication_duration" type="number" placeholder="Enter Duration" required />
                </div>
              </div>
              <div class="input-box">
                <label>Known Allergies</label>
                <select name="known_allergies" id="known_allergies" autocomplete="anestesia_history"
                  class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option value="none">None</option>
                  <option value="had_before_no_complications">Fragrance</option>
                  <option value="had_before_complications">Flower</option>
                </select>
              </div>
              <div class="input-box">
                <button
                  class="btn rounded-full w-[50px] h-[50px] flex items-center justify-center text-[25px]">+</button>
              </div>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-md leading-6 text-gray-500">cancel</button>
                <button type="submit"
                  class="btn rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
              </div>
            </form>
          </section>
        </div>
        <div class="form_4 data_info" style="display: none;">
          <section class="profile-container">
            <header>Addications</header>
            <form action="/addication" class="form" method="POST">
              <div class="input-box">
                <label>Addication Name:</label>
                <input name="addication_name" id="addication_name" type="text" placeholder="Enter Addication Name" required />
              </div>
              <div class="column">
                <div class="input-box">
                  <label>Frequency(in weeks):</label>
                  <input name="frequency" id="frequency" type="number" placeholder="Enter Frequency" required />
                </div>
                <div class="input-box">
                  <label>Duration(in weeks):</label>
                  <input name="addication_duration" id="addication_duration" type="number" placeholder="Enter Duration" required />
                </div>
              </div>
              <div class="input-box">
                <button
                  class="btn rounded-full w-[50px] h-[50px] flex items-center justify-center text-[25px]">+</button>
              </div>
              <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-md leading-6 text-gray-500">cancel</button>
                <button type="submit"
                  class="btn rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <div class="btns_wrap">
        <div class="common_btns form_1_btns">
          <button type="button" class="btn_next">Next <span class="icon"><ion-icon
                name="arrow-forward-sharp"></ion-icon></span></button>
        </div>
        <div class="common_btns form_2_btns" style="display: none;">
          <button type="button" class="btn_back"><span class="icon"><ion-icon
                name="arrow-back-sharp"></ion-icon></span>Back</button>
          <button type="button" class="btn_next">Next <span class="icon"><ion-icon
                name="arrow-forward-sharp"></ion-icon></span></button>
        </div>
        <div class="common_btns form_3_btns" style="display: none;">
          <button type="button" class="btn_back"><span class="icon"><ion-icon
                name="arrow-back-sharp"></ion-icon></span>Back</button>
          <button type="button" class="btn_next">Next <span class="icon"><ion-icon
                name="arrow-forward-sharp"></ion-icon></span></button>
        </div>
        <div class="common_btns form_4_btns" style="display: none;">
          <button type="button" class="btn_back"><span class="icon"><ion-icon
                name="arrow-back-sharp"></ion-icon></span>Back</button>
          <button type="button" class="btn_done">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal_wrapper">
    <div class="shadow"></div>
    <div class="success_wrap">
      <span class="modal_icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
      <p>You have successfully completed the process.</p>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

<script>
  // const addicationBtn = document.querySelector('#addication-btn');
  // const addicationForm = document.querySelector('.addication-form');

  // addicationBtn.addEventListener('click', function (e) {
  //   e.preventDefault();
  //   const index = 1;
  //   const newDiv = document.createElement('div');

  //   newDiv.classList.add(`section-${index + 1}`);

  //   newDiv.innerHTML = `
  //                  <h2 class="text-base font-semibold leading-7 text-gray-900">Addications</h2>
  //                   <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

  //                   <div class="sm:col-span-3">
  //                     <label for="addication-name" class="block text-sm font-medium leading-6 text-gray-900">Name:</label>
  //                     <div class="mt-2">
  //                       <input type="text" name="addication-name" id="addication-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
  //                     </div>
  //                   </div>

  //                   <div class="sm:col-span-2">
  //                     <label for="addication-frequency" class="block text-sm font-medium leading-6 text-gray-900">Frequency(In week):</label>
  //                     <div class="mt-2">
  //                       <input type="number" name="addication-frequency" id="addication-frequency" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
  //                     </div>
  //                   </div>

  //                   <div class="sm:col-span-2">
  //                     <label for="addication-duration" class="block text-sm font-medium leading-6 text-gray-900">Duration(In months):</label>
  //                     <div class="mt-2">
  //                       <input type="number" name="addication-duration" id="addication-duration" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
  //                     </div>
  //                   </div>
  //                  </div>
  //   `

  //   addicationForm.appendChild(newDiv);

  // })

  var form_1 = document.querySelector(".form_1");
  var form_2 = document.querySelector(".form_2");
  var form_3 = document.querySelector(".form_3");
  var form_4 = document.querySelector(".form_4");


  var form_1_btns = document.querySelector(".form_1_btns");
  var form_2_btns = document.querySelector(".form_2_btns");
  var form_3_btns = document.querySelector(".form_3_btns");
  var form_4_btns = document.querySelector(".form_4_btns");


  var form_1_next_btn = document.querySelector(".form_1_btns .btn_next");
  var form_2_back_btn = document.querySelector(".form_2_btns .btn_back");
  var form_2_next_btn = document.querySelector(".form_2_btns .btn_next");
  var form_3_back_btn = document.querySelector(".form_3_btns .btn_back");
  var form_3_next_btn = document.querySelector(".form_3_btns .btn_next");
  var form_4_back_btn = document.querySelector(".form_4_btns .btn_back");

  var form_2_progessbar = document.querySelector(".form_2_progessbar");
  var form_3_progessbar = document.querySelector(".form_3_progessbar");
  var form_4_progessbar = document.querySelector(".form_4_progessbar");

  var btn_done = document.querySelector(".btn_done");
  var modal_wrapper = document.querySelector(".modal_wrapper");
  var shadow = document.querySelector(".shadow");

  form_1_next_btn.addEventListener("click", function () {
    form_1.style.display = "none";
    form_2.style.display = "block";

    form_1_btns.style.display = "none";
    form_2_btns.style.display = "flex";

    form_2_progessbar.classList.add("active");
  });

  form_2_back_btn.addEventListener("click", function () {
    form_1.style.display = "block";
    form_2.style.display = "none";

    form_1_btns.style.display = "flex";
    form_2_btns.style.display = "none";

    form_2_progessbar.classList.remove("active");
  });

  form_2_next_btn.addEventListener("click", function () {
    form_2.style.display = "none";
    form_3.style.display = "block";

    form_3_btns.style.display = "flex";
    form_2_btns.style.display = "none";

    form_3_progessbar.classList.add("active");
  });

  form_3_back_btn.addEventListener("click", function () {
    form_2.style.display = "block";
    form_3.style.display = "none";

    form_3_btns.style.display = "none";
    form_2_btns.style.display = "flex";

    form_3_progessbar.classList.remove("active");
  });

  form_3_next_btn.addEventListener("click", function () {
    form_4.style.display = "block";
    form_3.style.display = "none";

    form_3_btns.style.display = "none";
    form_4_btns.style.display = "flex";

    form_4_progessbar.classList.add("active");
  })

  form_4_back_btn.addEventListener("click", function () {
    form_4.style.display = "none";
    form_3.style.display = "block";

    form_3_btns.style.display = "flex";
    form_4_btns.style.display = "none";

    form_4_progessbar.classList.remove("active");
  })

  btn_done.addEventListener("click", function () {
    modal_wrapper.classList.add("active");
  })

  shadow.addEventListener("click", function () {
    modal_wrapper.classList.remove("active");
  })
</script>

{% endblock %}