{% extends "base.html" %}
{% block content %}

<div class="main-container container">
    <div class="file-section">
        <h1>Upload Medical Report</h1>
        <div class="form-section">
            <i class='bx bxs-cloud-upload'></i>
            <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png,.jpg,.jpeg,.pdf,.docx,.txt" required id="fileInput">
            </form>
            <span>Select an file to upload</span>
            <p>(.png,.jpg,.jpeg,.pdf,.docx,.txt)</p>
            <button type="submit" id="upload">Upload</button>
        </div>
    </div>
    {{ output }}
</form>

<!-- <div class="w-[100%] overflow-x-scroll sm:overflow-auto rounded-md table">
    <header>List of Doctors</header>
    <table class="w-full">
        <tr>
            <th>Doctor Name</th>
            <th>Specialization</th>
            <th>Location</th>
            <th>Fees</th>
            <th>Clinic_name</th>
            <th>Experience</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Kallurkar</td>
            <td>Neuroligst</td>
            <td>Bandra West</td>
            <td>$3,000</td>
            <td>Lilavati Hospital</td>
            <td>13 years</td>    
            <td>
                <button class="book btn">Book</button>
            </td>
        </tr>
        <tr>
            <td>Kallurkar</td>
            <td>Neuroligst</td>
            <td>Bandra West</td>
            <td>$3,000</td>
            <td>Lilavati Hospital</td>
            <td>13 years</td>    
            <td>
                <button class="book btn">Book</button>
            </td>
        </tr>
    </table>
</div> -->

<div id="result"></div>
</div>

<script>

    const uploadBox = document.querySelector(".form-section");
    const fileInput = document.getElementById('fileInput');
    console.log(fileInput)

    uploadBox.addEventListener('click', (e) => {
        fileInput.click();
    })
    
</script>

{% endblock %}
